@media screen and (max-width: 1060px) {

    body {
        overflow: auto;
    }

    /*
    =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

    enter

    =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
    */

    .enter_wrap {
        position: fixed;
        z-index: 210;
        width: 35vw;
        height: 100svh;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%,rgba(230, 230, 230, 0.8) 100%);
        transform: translate(-100%, 0);
        transition: transform 0.3s;
    }

    .enter_open {
        display: block;
        z-index: 210;
        position: fixed;
        right: -110px;
        width: 110px;
        height: 110px;
        background-color: #303030;
        border-radius: 0 0 20px 0;
    }

    .enter_open>span {
        display: block;
        width: 70px;
        height: 10px;
        background-color: #f0f0f0;
        margin: 15px auto;
        transition: all 0.3s;
        border-radius: 10px;
    }

    .enter_open>span:nth-child(2) {
        margin-top: 24px;
    }

    .enter_wrap.ld>.enter_open>span:nth-child(2) {
        transform: translate(0, 25px) rotate(45deg);
    }

    .enter_wrap.ld>.enter_open>span:nth-child(3) {
        opacity: 0;
    }

    .enter_wrap.ld>.enter_open>span:nth-child(4) {
        transform: translate(0, -25px) rotate(-45deg);
    }

    .enter_open_edge {
        position: absolute;
        width: 140%;
        height: 140%;
    }

    .enter_wall {
        display: block;
        z-index: 200;
        position: fixed;
        right: -100vw;
        width: 100vw;
        height: 100svh;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 0 0 20px 0;
        pointer-events: none;
        transition: background-color 0.4s;
    }

    .enter_wrap.ld>.enter_wall {
        pointer-events: all;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .enter_wrap.ld {
        transform: translate(0, 0);
    }

    .enter {
        width: 35vw;
        height: 12vw;
    }

    .enter_bg,
    .enter_bg_cover {
        display: none;
    }

    .big {
        font-size: 8vw;
    }

    .mini {
        display: none;
    }

    .enter_sq,
    .enter_sq_core {
        top: 6vw;
        left: 13%;
        width: 6vw;
        height: 6vw;
        border-radius: 0.5vw;
    }

    .enter.now>.enter_sq_core {
        border: #80f0cb 1vw solid;
    }

    /*
    =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

    Main

    =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
    */

    .main_box_wrap {
        top: 51%;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .explanation {
        width: 75vw;
        font-size: 40px;
        padding: 0.6vw 0;
        text-align: center;
        box-shadow: 8px 8px 0 #f0a5c2;
        transform: translate(0, 50px);
    }

    .main_box {
        width: 75vw;
        box-shadow: 8px 8px 0px 0 #f0a5c2;
        transform: translate(0, 50px);
    }

    .main_box_title {
        font-size: 30px;
        width: calc(100% + 4px);
        margin-left: -2px;
    }

    .main_box_date {
        font-size: 25px;
    }

    .main_box_text {
        font-size: 22px;
        margin: 0 0 0 1vw;
    }

    .bg_chara {
        top: 0;
        width: 80%;
        left: 50%;
        z-index: 0;
        transform: translate(-50%, 0);
    }

    .bg_chara.loaded {
        top: 5%;
    }

    /*
    =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

    About

    =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
    */
    .about_content {
        height: calc(100svh - 210px);
        width: 100%;
        overflow: scroll;
        -ms-overflow-style: none;
        margin: 0 auto;
        padding-top: 110px;
        padding-bottom: 100px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .about_content::-webkit-scrollbar {
        display: none;
    }

    .about_block_flex {
        display: block;
        width: fit-content;
        margin: 0 auto;
    }

    .about_box_name>.about_block_flex {
        margin: 0;
    }

    .about_box_icon,
    .about_box_name,
    .about_box_like,
    .about_box_comment,
    .about_box_anime,
    .about_box_can {
        position: relative;
        border: #303030 5px solid;
        /*overflow: hidden;*/
        box-shadow: 4px 4px 0px 0 #f0a5c2;
        border-radius: 15px;
        margin: 20px;
        background-color: #f0f0f0;
        opacity: 0;
        transition: transform 0.2s, opacity 0.2s;
        width: 600px;
        max-width: 75vw;
        height: auto;
        transform: translate(0, 4vw);
    }

    .about_box_name {
        height: 80px;
    }

    .about_box_title {
        width: 604px;
        max-width: calc(100% + 4px);
        text-align: center;
        margin: -3px 0 0.5vw -2px;
        background-color: #303030;
        font-size: 35px;
        color: #f0f0f0;
        font-weight: 600;
        border-radius: 14px 14px 0 0;
    }

    .about_box_title_name {
        position: absolute;
        width: 100px;
        margin: 0 0 0 -3px;
        background-color: #303030;
        border-radius: 0.6vw 0 0 0.6vw;
    }

    .about_box_title_name>p {
        margin: 0;
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
        text-align: center;
        font-size: 35px;
        color: #f0f0f0;
        font-weight: 600;
    }

    .about_box_title_text {
        transform: translate(120px, -50%);
        font-size: 26px;
    }

    .about_box_name>p,
    .about_box_like>p,
    .about_box_comment>p,
    .about_box_anime>p,
    .about_box_can>p {
        font-size: 22px;
        margin: 0 20px 0 20px;
    }

    .about_box_icon {
        width: 170px;
        height: 170px;
        border: none;
        background-color: #0000;
        box-shadow: none;
    }

    .about_icon_img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    .about_exp {
        font-size: 15px !important;
        margin-top: -0.4vw !important;
    }

    .about_box_icon.loaded,
    .about_box_name.loaded,
    .about_box_like.loaded,
    .about_box_comment.loaded,
    .about_box_anime.loaded,
    .about_box_can.loaded {
        opacity: 1;
        transform: translate(0, 0);
    }

    /*
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

Character

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
*/
    .character_content {
        height: calc(100svh - 210px);
        width: 100%;
        overflow: scroll;
        -ms-overflow-style: none;
        margin: 0 auto;
        padding-top: 110px;
        padding-bottom: 100px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .character_content::-webkit-scrollbar {
        display: none;
    }

    .character_block_flex {
        width: fit-content;
        margin: 0 auto;
    }

    .character_block_flex.pc {
        display: none;
    }

    .character_id_box {
        display: block;
    }

    .character_box {
        margin: 10px;
        width: 20vw;
        height: 32vw;
        border: #303030 3px solid;
        border-radius: 15px;
        background-color: #303030;
        overflow: hidden;
        box-shadow: 8px 8px 0px 0 #f0a5c2;
        transition: transform 0.3s, opacity 0.3s;
        transform: translate(0, -20%);
        opacity: 0;
    }

    .character_box.loaded {
        transform: translate(0, 0);
        opacity: 1;
    }

    .character_box_exp {
        margin: 10px;
        width: 70vw;
        height: 32vw;
        border: #303030 3px solid;
        border-radius: 0.78125vw;
        background-color: #ffffff70;
        overflow: hidden;
        box-shadow: 8px 8px 0px 0 #f0a5c2;
        transform: translate(30%, 0);
        opacity: 0;
        transition: transform 0.35s, opacity 0.35s;
    }

    .character_box_exp.loaded {
        transform: skewX(0deg);
        opacity: 1;
    }

    .character_box_name_top {
        position: absolute;
        z-index: 3;
        color: #fff;
        font-family: '游ゴシック', "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W6", sans-serif;
        font-weight: 900;
        white-space: nowrap;
        font-size: 7.2vw;
        text-shadow: 1px 2px 2px #f0a5c2;
        transition: transform 0.5s, color 0.5s;
        transform: skewX(0deg);
        margin: -0.3em;
        top: 10px;
        right: 20px;
    }

    .character_box_name_bottom {
        position: absolute;
        z-index: 3;
        color: #fff;
        font-family: Arial;
        font-weight: 600;
        white-space: nowrap;
        font-size: 5.5vw;
        text-shadow: 1px 2px 2px #f0a5c2;
        transition: transform 0.5s, color 0.5s;
        transform: skewX(0deg);
        margin: -0.1em;
        bottom: 0;
        left: 5px;
    }

    .character_video {
        z-index: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        transform: skewX(0deg);
    }

    .character_thm {
        z-index: 2;
        height: 100%;
        left: 50%;
        position: absolute;
        object-fit: cover;
        transform: translate(-50%, 0);
        opacity: 1;
        transition: all 0.8s;
        background-color: #e0e0e0;
    }

    .character_box:hover .character_thm {
        opacity: 0;
    }

    .character_box:hover .character_box_name_top {
        color: #514d4f;
        transform: translate(3%, -10%);
    }

    .character_box:hover .character_box_name_bottom {
        color: #514d4f;
        transform: translate(-3%, 12%);
    }

    .character_box_exp_text {
        position: absolute;
        font-size: 2.5vw;
        color: #303030;
        font-family: '游ゴシック', "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W6", sans-serif;
        font-weight: 600;
        top: 42%;
        left: 4%;
        z-index: 2;
        transform: translate(0, -50%);
    }

    .character_box_exp_text>p {
        margin: 0;
    }

    .character_box_exp_icon {
        position: absolute;
        width: 10vw;
        height: 8vw;
        left: 6%;
        bottom: 6%;
        border-radius: 0.78125vw;
        cursor: pointer;
        z-index: 300;
        transition: background-color 0.1s;
        transform: skewX(0deg);
    }

    .character_box_exp_icon:hover {
        background-color: #dadada;
    }

    .character_box_exp_icon_img {
        position: relative;
        width: 70%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .character_art {
        transform: skewX(0deg);
        position: absolute;
        width: auto;
    }

    #r_1_art_1 {
        right: 1vw;
        width: 35%;
        margin: 0 10px 10px 10px;
    }

    #r_1_art_2 {
        bottom: 0;
        right: 17vw;
        width: 22%;
        margin: 6px;
    }

    #r_2_art_1 {
        right: -3vw;
        width: 45%;
        margin: 0 0 10px 10px;
    }

    #r_2_art_2 {
        right: 19vw;
        width: 17%;
        bottom: 3%;
    }

    #r_4_art_1 {
        right: 0;
        width: 40%;
        margin: 0 0 10px 10px;
    }

    #r_4_art_2 {
        bottom: 0;
        right: 12vw;
        width: 40%;
        margin: 6px;
    }

    .chara_select_box {
        position: relative;
        width: 7vw;
        height: 7vw;
        border: #303030 3px solid;
        border-radius: 0.78125vw;
        margin: 10px;
        box-shadow: 4px 4px 0px 0 #f0a5c2;
        background-color: #f0f0f0;
        overflow: hidden;
        cursor: pointer;
        transform: translate(0, 50%);
        opacity: 0;
        transition: transform 0.3s, opacity 0.3s;
    }

    .chara_select_box.loaded {
        transform: translate(0, 0);
        opacity: 1;
    }

    .chara_select_box_img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.3s;
    }

    .chara_select_box:hover>.chara_select_box_img {
        width: 115%;
        height: 115%;
    }

    /*
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

Content

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
*/
    .content_content {
        height: calc(100svh - 210px);
        width: 100%;
        overflow: scroll;
        -ms-overflow-style: none;
        margin: 0 auto;
        padding-top: 110px;
        padding-bottom: 100px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .content_content::-webkit-scrollbar {
        display: none;
    }

    .content_block_flex {
        display: block;
        width: fit-content;
        margin: 0 auto;
    }

    .content_block_pad {
        z-index: 108;
        transition: all 0.3s;
        opacity: 0;
        transform: translate(0, 50px);
        pointer-events: none;
        cursor: pointer;
    }

    .content_block_pad.loaded {
        opacity: 1;
        transform: translate(0, 0);
        pointer-events: auto;
    }

    .content_block_pad:hover {
        padding-bottom: 0;
        margin-top: 0;
        padding-left: 0;
        margin-right: 0;
    }

    .content_block,
    #content_card_0>.content_block {
        position: relative;
        margin: 30px;
        width: 75vw;
        border: #303030 3px solid;
        border-radius: 15px;
        box-shadow: 8px 8px 0px 0 #f0a5c2;
        transition: box-shadow 0.3s;
        background-color: #f0f0f0;
        overflow: visible;
    }

    .content_block_pad:hover>.content_block {
        box-shadow: 8px 8px 0px 0 #f0a5c2;
    }

    .content_block_icon,
    #content_card_0>.content_block>.content_block_icon {
        height: 500px;
        position: relative;
    }

    .content_block_icon_img,
    .content_block_icon_img.comic_n,
    .content_block_icon_img.comic_b {
        object-fit: contain;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        height: 90%;
    }

    .content_block_line,
    #content_card_0>.content_block>.content_block_line {
        position: initial;
        height: 80px;
        background-color: #303030;
        text-align: center;
        color: #f0f0f0;
        font-weight: 600;
        font-size: 28px;
        width: calc(100% + 4px);
        margin-left: -2px;
    }

    .content_block_line>p {
        margin: 0;
        width: 100%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .content_block_exp,
    #content_card_0>.content_block>.content_block_exp {
        position: initial;
        height: 38px;
        padding: 0.2vw 0.5vw 0.5vw 0.5vw;
    }

    .content_block_exp>p {
        text-align: end;
        margin: 0 20px 0 0;
        color: #303030;
        font-size: 30px;
        font-weight: 600;
    }

    /*
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

Link

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
*/
    .link_content {
        height: calc(100svh - 210px);
        width: 100%;
        overflow: scroll;
        -ms-overflow-style: none;
        margin: 0 auto;
        padding-top: 110px;
        padding-bottom: 100px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .link_content::-webkit-scrollbar {
        display: none;
    }

    .link_block_flex {
        width: fit-content;
        margin: 0 auto;
        display: block;
    }

    .link_block_pad {
        float: left;
        z-index: 108;
        transition: all 0.3s;
        opacity: 0;
        transform: translate(0, 50px);
        pointer-events: none;
        cursor: pointer;
    }

    .link_block_pad.loaded {
        opacity: 1;
        transform: translate(0, 0);
        pointer-events: auto;
    }

    .link_block_pad:hover {
        padding-bottom: 0;
        margin-top: 0;
    }

    .link_block {
        margin-left: 15vw;
        margin-right: 1vw;
        width: 34vw;
        border: #303030 3px solid;
        border-radius: 12px;
        box-shadow: 8px 8px 0px 0 #f0a5c2;
        transition: box-shadow 0.3s;
        background-color: #f0f0f0;
    }

    .link_content>.link_block_flex:nth-child(odd)>.link_block_pad:nth-child(even)>.link_block,
    .link_content>.link_block_flex:nth-child(even)>.link_block_pad:nth-child(odd)>.link_block {
        margin-left: 1vw;
        margin-right: 0;
    }

    .link_content>.link_block_flex:nth-last-child(1)>.link_block_pad:nth-last-child(1)>.link_block {
        margin-bottom: 70px;
    }

    .link_block_pad:hover>.link_block {
        box-shadow: 8px 8px 0px 0 #f0a5c2;
    }

    .link_block_icon {
        height: 150px;
        position: relative;
    }

    .img_wall {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 200;
    }

    .link_block_icon_img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: 80%;
    }

    #amazon_logo {
        width: auto;
        height: 45%;
    }

    #fc2_logo {
        width: auto;
        height: 50%;
    }

    .link_block_line {
        height: 38px;
        background-color: #303030;
        text-align: center;
        color: #f0f0f0;
        font-weight: 600;
        font-size: 24px;
        width: calc(100% + 4px);
        margin-left: -2px;
    }

    .link_block_line>p {
        margin: 0;
        padding: 1px 0 0 0;
    }

    .link_block_exp {
        height: 120px;
        padding: 8px;
    }

    .link_block_exp>p {
        margin: 0;
        color: #303030;
        font-size: 20px;
        font-weight: 600;
    }

    .dialog_mail {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #000a;
        opacity: 0;
        transition: all 0.2s;
        pointer-events: none;
        z-index: 400;
        font-family: '游ゴシック', "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W6", sans-serif;
    }

    .dialog_mail.show {
        opacity: 1;
        pointer-events: all;
    }

    .dialog_mail_block {
        position: relative;
        margin: 0 auto;
        top: 50%;
        transform: translate(0, -50%);
        background-color: #f0f0f0;
        border: #303030 solid 3px;
        border-radius: 10px;
        width: 55vw;
        height: 230px;
    }

    .gmail_address_block_title {
        position: absolute;
        width: 100%;
        text-align: center;
        font-weight: 600;
        color: #303030;
        margin-top: 2%;
        font-size: 3vw;
    }

    .gmail_address_block {
        display: flex;
        width: 76%;
        border-radius: 5px;
        border: solid #303030 2px;
        position: relative;
        top: 30%;
        padding-left: 20px;
        margin: auto;
        overflow: hidden;
    }

    #gmail_address {
        margin: 0;
        text-align: center;
        font-weight: 600;
        font-family: '游ゴシック', "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W6", sans-serif;
        font-size: 2.2vw;
    }

    .btn_gmail_copy {
        background-color: #ccc;
        width: 18%;
        height: 100%;
        right: 0;
        position: absolute;
        border-left: solid #303030 2px;
        cursor: pointer;
    }

    .btn_gmail_copy:hover {
        background-color: #bdbdbd;
    }

    .btn_gmail_copy:active {
        background-color: #aaa;
    }

    .btn_copy_img {
        position: absolute;
        top: 9%;
        height: 86%;
        width: auto;
        left: 27%;
    }

    .gmail_address_get_copied {
        position: absolute;
        right: 13%;
        top: 56%;
        font-size: 20px;
        font-weight: 600;
        color: #fffaf0;
        background-color: #303030;
        padding: 5px 10px;
        border-radius: 13px;
        opacity: 0;
        transition: opacity 0.3s, top 0.3s;
    }

    .gmail_address_get_copied.show {
        top: 53%;
        opacity: 1;
    }

    .gmail_address_get_copied>p {
        margin: 0;
    }

    .copied_tri {
        top: -15px;
        right: 18px;
        position: absolute;
        margin: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 9px 15.6px 9px;
        border-color: transparent transparent #303030 transparent;
    }

    .dialog_mail_close {
        position: absolute;
        top: 78%;
        margin: 0 auto;
        left: 50%;
        width: 42%;
        transform: translate(-50%, 0);
        cursor: pointer;
        font-size: 20px;
    }

    /*
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

Work

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
*/
    .work_content {
        position: absolute;
        height: calc(100svh - 210px);
        width: 100%;
        overflow: hidden;
        -ms-overflow-style: none;
        margin: 0 auto;
        padding-top: 110px;
        padding-bottom: 100px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .work_content::-webkit-scrollbar {
        display: none;
    }

    .work_box_wrap {
        position: absolute;
        top: 10%;
        left: 16%;
    }

    .work_box_wrap {
        position: absolute;
        top: 10%;
        left: 20%;
    }

    .work_box {
        position: relative;
        width: 70vw;
        padding-bottom: 1vw;
        border: #303030 3px solid;
        box-shadow: 10px 10px 0px 0 #f0a5c2;
        border-radius: 15px;
        background-color: #f0f0f0c0;
        opacity: 0;
        transform: translate(0, 5vw);
        transition: transform 0.4s, opacity 0.4s;
    }

    .work_box.loaded {
        opacity: 1;
        transform: translate(0, 0);
    }

    .work_box_title {
        width: calc(100% + 4px);
        text-align: center;
        margin: -3px 0 0.5vw -2px;
        background-color: #303030;
        font-size: 3vw;
        color: #f0f0f0;
        font-weight: 600;
        border-radius: 13px 13px 0 0;
    }

    .works>p {
        color: #303030;
        font-weight: 600;
        margin: 0 0 0 1vw;
    }

    .work_box_date {
        font-size: 1.8vw;
    }

    .work_box_text {
        font-size: 2vw;
        margin: 0 0 0 2vw;
    }

    .work_chara {
        position: absolute;
        width: 100vw;
        height: 80vh;
        top: auto;
        bottom: 2%;
        left: 0;
        transform: translate(-30%, 0);
        transition: transform 0.4s, opacity 0.4s;
        opacity: 0;
    }

    .work_chara>img {
        width: auto;
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 10px);
    }

    .work_chara.loaded {
        opacity: 1;
        transform: translate(0, 0);
    }

    /*
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

Contact

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
*/
    .contact_content {
        height: calc(100svh - 210px);
        width: 100%;
        overflow: scroll;
        -ms-overflow-style: none;
        margin: 0 auto;
        padding-top: 110px;
        padding-bottom: 100px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .contact_content::-webkit-scrollbar {
        display: none;
    }

    .contact_block_flex {
        width: fit-content;
        margin: 0 auto;
        display: block;
        margin-bottom: 120px;
    }

    .contact_box,
    .contact_box_mail {
        border: #303030 3px solid;
        box-shadow: 4px 4px 0px 0 #f0a5c2;
        border-radius: 15px;
        margin: 12px 15px;
        background-color: #f0f0f0;
        opacity: 0;
        transform: translate(0, 5vw);
        transition: transform 0.2s, opacity 0.2s;
        width: 75vw
    }

    .contact_box_mail {
        position: absolute;
        margin-top: 60px;
        margin-left: 25vw;
        right: 5vw;
        margin-bottom: 60px;
        width: 40vw;
        box-shadow: 4px 4px 0px 0 #fa4a84;
        transform: translate(5vw, 0);
    }

    .contact_box.loaded,
    .contact_box_mail.loaded {
        opacity: 1;
        transform: translate(0, 0);
    }


    .contact_box_title {
        display: block;
        width: calc(100% + 4px);
        text-align: center;
        margin: -3px 0 0 -2px;
        background-color: #303030;
        font-size: 3vw;
        color: #f0f0f0;
        font-weight: 600;
        border-radius: 13px 13px 0 0;
    }

    .contact_text_input>input,
    .contact_text_input>textarea {
        background-color: #f0f0f0 !important;
        border: none;
        outline: none;
        font-size: 2vw;
        position: relative;
        width: 96%;
        left: 50%;
        transform: translate(-50%, 0);
        margin: 5px;
        font-weight: 600;
        color: #303030;
    }

    .contact_text_input>textarea {
        height: 24em;
        resize: none;
    }

    .contact_text_input>input:focus,
    .contact_text_input>textarea:focus {
        border: none;
        outline: none;
    }

    .contact_checkbox {
        margin: 1%;
    }

    .contact_checkbox>label>input {
        transform: scale(1.8);
        margin-left: 20px;
        margin-right: 20px;
    }

    #req::after {
        content: "*";
        color: #ff4343;
        margin-left: 0.5em;
    }

    .input_button {
        cursor: pointer;
        width: 30vw;
        position: relative;
        left: 50%;
        font-size: 3vw;
        color: #fa4a84;
        font-weight: 600;
        background-color: #f0f0f0;
        border: #303030 3px solid;
        border-radius: 1.6vw;
        box-shadow: 4px 4px 0px 0 #fa4a84;
        right: auto;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, 5vw);
        transition: transform 0.2s, opacity 0.2s;
    }

    .input_button.loaded {
        opacity: 1;
        transform: translate(-50%, 0);
    }

    .hidden_iframe {
        display: none;
    }

    .contact_exp {
        margin: 10px 20px 10px 20px;
    }

    .contact_exp>p {
        margin: 0;
        color: #303030;
        font-weight: 600;
        font-size: 1.1vw;
    }

    .contact_exp_mail>p {
        width: 60%;
        margin: 11px 0px 8px 0;
        color: #303030;
        font-weight: 600;
        font-size: 2vw;
    }

    .contact_mail_icon {
        position: relative;
        width: 10vw;
    }

    .content_exp_must::before {
        content: "*";
        color: #ff4343;
        margin-right: 0.2em;
        font-size: 1.5vw;
    }

    .dialog_contact {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #000a;
        opacity: 0;
        transition: all 0.2s;
        pointer-events: none;
        z-index: 400;
    }

    .dialog_contact.show {
        opacity: 1;
        pointer-events: all;
    }

    .dialog_contact_block {
        position: relative;
        margin: 0 auto;
        top: 50%;
        transform: translate(0, -50%);
        background-color: #f0f0f0;
        border: #303030 solid 3px;
        border-radius: 10px;
        width: 60vw;
        height: 10vh;
    }

    .dialog_contact_close {
        position: absolute;
        top: 55%;
        margin: 0 auto;
        left: 50%;
        width: 42%;
        transform: translate(-50%, 0);
        cursor: pointer;
        font-size: 22px;
    }

    /* Android対応 */
    .use_svh.android {
        height: 100vh;
    }

    .work_content.android {
        height: calc(100vh - 210px);
    }
}