@charset "UTF-8";

img {
    user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
}

video {
    pointer-events: none;
}

input:-webkit-autofill {
    box-shadow: 0 0 0 1000px #f0f0f0 inset;
}

body {
    user-select: none;
    margin: 0;
    overflow: hidden;
}

.background {
    background-image: url(../images/bg_tile.png);
    position: fixed;
    width: 100vw;
    height: 100svh;
    z-index: -5;

}

.hidden {
    display: none;
}

/*
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

左側メニュー

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
*/
.enter {
    z-index: 210;
    width: 7.5vw;
    height: 5vw;
    position: relative;
    left: -40%;
    transition: left 0.8s, opacity 0.8s;
    opacity: 0;
    cursor: pointer;
}

.enter.loaded_e {
    left: 0;
    opacity: 1;
}

.enter_open,
.enter_wall {
    display: none;
}

.enter_bg {
    top: 0.3vw;
    left: -1.2vw;
    width: 19vw;
    height: 4.8vw;
    position: absolute;
    background-color: #2a565d85;
    z-index: -5;
    border: 2px solid #ddd;
    border-left: 0;
    /*transform: skewX(-15deg);*/
    transition: all 0.2s;
    opacity: 0;
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
}

.enter:hover>.enter_bg {
    opacity: 1;
}

.enter_bg_cover {
    left: -20px;
    width: 20vw;
    height: 6vw;
    position: absolute;
    z-index: -5;
}

.big {
    height: 80%;
    position: absolute;
    left: 3.75vw;
    top: 60%;
    transform: translate(0, -50%);
    margin: 0;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 2.6vw;
    color: #303030;
    transition: color 0.2s;
}

.mini {
    width: max-content;
    position: absolute;
    left: 3.75vw;
    top: 74%;
    margin: 0 0 0 1.2vw;
    font-family: 'Comic Sans MS';
    font-weight: bold;
    font-size: 0.9375vw;
    color: #303030;
    transition: color 0.2s;
}

.enter.now>p {
    color: #fa978a;
}

.enter.now>.big {
    color: #fa978a;
    text-shadow: 0px 0px 5px #303030;
}

.enter_sq,
.enter_sq_core {
    position: absolute;
    top: 2.5vw;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: -3;
    width: 2.6vw;
    height: 2.6vw;
    background-color: #f17ab6;
    border-radius: 0.25vw;
    transition: transform 0.5s, background-color 0.5s, border 0.5s;
}

.enter_sq_core {
    z-index: -2;
}

.enter.now>.enter_sq {
    background-color: #312f2f;
}

.enter.now>.enter_sq_core {
    transform: translate(-50%, -50%) rotate(45deg) scale(0.46);
    background-color: #312f2f;
    border: #80f0cb 0.35vw solid;
}

.twitter-share-button {
    margin: 2vw;
}

/*
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

タイトル～メイン

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
*/
.loading {
    position: fixed;
    background-color: #fff;
    opacity: 1;
    transition: opacity 1s;
    z-index: 900;
    width: 100%;
    height: 100%;
}

.loading.loaded_e {
    opacity: 0;
    pointer-events: none;
    z-index: 900;
}

.logo {
    z-index: -11;
    height: 0px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title_sq {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -3;
    width: 460px;
    height: 100px;
    border: #312f2f 3px solid;
    border-radius: 0.78125vw;
}

.title_img {
    position: relative;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

コピーライト

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
*/
footer {
    position: fixed;
    color: #3f5170;
    font-size: 12px;
    bottom: 10px;
    left: 20px;
    z-index: 120;
}

/*
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

Main

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
*/
.main_box_wrap {
    position: absolute;
    top: 20%;
    left: 50%;
}

.explanation {
    position: relative;
    width: 26vw;
    font-size: 1.6vw;
    color: #303030;
    font-family: '游ゴシック', "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W6", sans-serif;
    font-weight: 600;
    padding: 1vw;
    border: 3px solid;
    border-radius: 0.78125vw;
    background-color: #f0f0f0;
    box-shadow: 14px 14px 0px 0 #76c2cf;
    opacity: 0;
    transition: opacity 0.4s, transform 0.4s;
    transform: translate(0, 5vw);
    margin-bottom: 2.5vw;
}

.explanation.loaded {
    transform: translate(0, 0);
    opacity: 1;
}

.explanation>p {
    margin: 1px 0 1px 0;
}

.main_box {
    position: relative;
    width: 34vw;
    padding-bottom: 1vw;
    border: #303030 3px solid;
    box-shadow: 14px 14px 0px 0 #76c2cf;
    border-radius: 0.78125vw;
    background-color: #f0f0f0;
    opacity: 0;
    transform: translate(0, 5vw);
    transition: transform 0.4s, opacity 0.4s;
}

.main_box_title {
    width: 100%;
    text-align: center;
    margin: -3px 0 0.5vw 0;
    background-color: #303030;
    font-size: 1.4vw;
    color: #f0f0f0;
    font-family: '游ゴシック', "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W6", sans-serif;
    font-weight: 600;
    border-radius: 0.6vw 0.6vw 0 0;
}

.main_box.loaded {
    opacity: 1;
    transform: translate(0, 0);
}

.news>p {
    color: #303030;
    font-family: '游ゴシック', "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W6", sans-serif;
    font-weight: 600;
    margin: 0 0 0 1vw;
}

.main_box_date {
    font-size: 0.7vw;
}

.main_box_text {
    font-size: 1vw;
    margin: 0 0 0 2vw;
}

.bg_chara {
    position: absolute;
    width: 40%;
    height: auto;
    top: 22%;
    left: 12vw;
    transition: top 0.4s, opacity 0.4s;
    opacity: 0;
}

.bg_chara>img {
    width: 100%;
}

.bg_chara.loaded {
    top: 10%;
    opacity: 1;
}

/*
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

About

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
*/
.about_content {
    position: absolute;
    margin: 1vw auto auto 23vw;
}

.about_block_flex {
    display: flex;
}

.about_box_icon,
.about_box_name,
.about_box_like,
.about_box_comment,
.about_box_anime,
.about_box_can {
    position: relative;
    /*border: #303030 3px solid;*/
    outline: #303030 3px solid;
    outline-offset: -2px;
    overflow: hidden;
    box-shadow: 6px 5px 0px 0 #76c2cf;
    border-radius: 0.78125vw;
    margin: 10px;
    background-color: #f0f0f0;
    opacity: 0;
    transition: transform 0.2s, opacity 0.2s;
}

.about_box_title {
    width: 100%;
    text-align: center;
    margin: -3px 0 0.5vw 0;
    background-color: #303030;
    font-size: 1.4vw;
    color: #f0f0f0;
    font-family: '游ゴシック', "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W6", sans-serif;
    font-weight: 600;
    /*border-radius: 0.6vw 0.6vw 0 0;*/
}

.about_box_title_name {
    position: absolute;
    width: 5vw;
    height: 100%;
    margin: 0 0 0 -3px;
    background-color: #303030;
    /*border-radius: 0.6vw 0 0 0.6vw;*/
}

.about_box_title_name>p {
    margin: 0;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    font-size: 1.4vw;
    color: #f0f0f0;
    font-family: '游ゴシック', "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W6", sans-serif;
    font-weight: 600;
}

.about_box_title_text {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(5.5vw, -50%);
    font-size: 1.4vw;
    color: #303030;
    font-family: '游ゴシック', "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W6", sans-serif;
    font-weight: 600;
}

.about_box_name>p,
.about_box_like>p,
.about_box_comment>p,
.about_box_anime>p,
.about_box_can>p {
    font-size: 1vw;
    color: #303030;
    font-family: '游ゴシック', "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W6", sans-serif;
    font-weight: 600;
    margin: 0 0 0 1vw;
}

.about_box_icon {
    width: 7vw;
    height: 7vw;
    outline: none;
    box-shadow: none;
    background-color: #0000;
    transform: translate(0, -4vw);
}

.about_icon_img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.about_box_name {
    position: relative;
    width: 35vw;
    height: calc(7vw / 2 - 10px);
    transform: translate(4vw, 0);
}

.about_box_like {
    width: calc(21vw - 3px);
    height: 9vw;
    transform: translate(0, 4vw);
}

.about_box_can {
    width: calc(21vw - 3px);
    height: 14vw;
    transform: translate(0, 4vw);
}

.about_box_comment {
    width: calc(42vw + 20px);
    height: 8vw;
    transform: translate(0, 4vw);
}

.about_box_anime {
    width: 20vw;
    transform: translate(0, 4vw);
}

.about_exp {
    font-size: 0.8vw !important;
    margin-top: -0.4vw !important;
}

.about_box_icon.loaded,
.about_box_name.loaded,
.about_box_like.loaded,
.about_box_comment.loaded,
.about_box_anime.loaded,
.about_box_can.loaded {
    opacity: 1;
    transform: translate(0, 0);
}


/*
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

Content

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
*/
.content_content {
    position: absolute;
    margin: 2vw auto auto 20vw;
}

.content_block_flex {
    margin: 10px;
    display: flex;
}

.content_block_flex>.content_block_flex {
    margin-right: 0;
}

.content_block_flex>div>.content_block_flex {
    margin-left: 0;
}

.content_block_pad {
    z-index: 108;
    transition: all 0.3s;
    opacity: 0;
    transform: translate(0, 50px);
    pointer-events: none;
    cursor: pointer;
}

.content_block_pad.loaded {
    opacity: 1;
    transform: translate(0, 0);
    pointer-events: auto;
}

.content_block_pad:hover {
    padding-bottom: 20px;
    margin-top: -20px;
}

.content_block {
    position: relative;
    margin: 10px;
    width: 13vw;
    border: #303030 3px solid;
    border-radius: 0.78125vw;
    box-shadow: 8px 8px 0px 0 #76c2cf;
    transition: box-shadow 0.3s;
    background-color: #f0f0f0;
    overflow: hidden;
}

#content_card_0>.content_block {
    height: calc(100% - 26px);
    width: 32vw;
    margin-right: 15px;
}

.content_block_pad:hover>.content_block {
    box-shadow: 8px 24px 8px 0 rgb(241, 184, 206);
}

.content_block_icon {
    height: 13vw;
    position: relative;
}

#content_card_0>.content_block>.content_block_icon {
    height: calc(100% - 4.7vw);
}

.content_block_icon_img {
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
}

.content_block_icon_img.comic_n,
.content_block_icon_img.comic_b {
    object-fit: unset;
    width: 101%;
    height: 101%;
}

.comic_n,
.comic_b {
    display: none;
}

.comic_n.state,
.comic_b.state {
    display: block;
}


.content_block_line {
    height: 3vw;
    background-color: #303030;
    text-align: center;
    color: #f0f0f0;
    font-weight: 600;
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
}

.content_block_line>p {
    margin: 0;
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content_block_exp {
    height: 1vw;
    padding: 0.2vw 0.5vw 0.5vw 0.5vw;
}

.content_block_exp>p {
    text-align: end;
    font-family: system-ui;
    margin: -0.3vw 0 0 0;
    color: #303030;
    font-size: 1.3vw;
    font-weight: 600;
}

#content_card_0>.content_block>.content_block_line {
    position: absolute;
    bottom: 1.7vw;
    width: 100%;
}

#content_card_0>.content_block>.content_block_exp {
    position: absolute;
    bottom: 0;
    width: calc(100% - 1vw);
}

.content_paid::before {
    content: "￥";
}

.content_free {
    color: #eF0000 !important;
}


/*
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

Music

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
*/
.music_content {
    position: absolute;
    margin: 2vw auto auto 20vw;
}

.music_block_flex {
    margin: 10px;
    display: flex;
}

.music_block_pad {
    z-index: 108;
    transition: all 0.3s;
    opacity: 0;
    transform: translate(0, 50px);
    pointer-events: none;
    cursor: pointer;
}

.music_block_pad.loaded {
    opacity: 1;
    transform: translate(0, 0);
    pointer-events: auto;
}

.music_block_pad:hover {
    padding-bottom: 20px;
    margin-top: -20px;
}

.music_block {
    background-clip: padding-box;
    margin: 10px;
    /*border: #303030 2px solid;*/
    outline: #303030 5px solid;
    outline-offset: -2px;
    border-radius: 0.78125vw;
    box-shadow: 8px 8px 0px 0 #76c2cf;
    transition: box-shadow 0.3s;
    background-color: #f0f0f0;
    overflow: hidden;
}

.music_block_pad:hover>.music_block {
    box-shadow: 8px 24px 6px 0 #76c2cf;
}

.music_block_icon {
    position: relative;
    height: 9vw;
    width: 16vw;
}

.music_block_icon_img {
    position: absolute;
    width: 100%;
    height: auto;
}

.music_block_svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -32%);
    width: 85%;
}

.music_block_line {
    outline: #303030 3px solid;
    position: relative;
    z-index: 1;
    bottom: 0;
    font-family: system-ui;
    height: 1.5vw;
    background-color: #303030;
    text-align: center;
    color: #f0f0f0;
    font-weight: 600;
    font-size: 1vw;
    /*border-radius: 0 0 0.4vw 0.4vw;*/
}

.music_block_line>p {
    margin: 0;
    padding: 1px 0 0 0;
}

/* ダイアログ */
.dialog_music {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000a;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
    z-index: 400;
}

.dialog_music.show {
    opacity: 1;
    pointer-events: all;
}

.dialog_music_block {
    position: relative;
    margin: 0 auto;
    top: 50%;
    transform: translate(0, -50%);
    background-color: #f0f0f0;
    border: #303030 solid 3px;
    border-radius: 10px;
    width: 88vw;
    height: 78vh;
    padding: 30px;
}

/* 閉じるボタン */
.dislog_music_close_icon_pc {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 auto;
    cursor: pointer;
}

.dislog_music_close_icon_tab {
    display: none;
}

.close_img {
    margin: 10px 10px 0 0;
    width: 16px;
    height: 16px;
}

.dialog_music_link_area,
.dialog_music_link_content {
    height: -webkit-fill-available; /* Chrome, Safari, Firefox 146以降 */
    height: stretch;
}

.dialog_music_flex {
    display: flex;
    height: -webkit-fill-available; /* Chrome, Safari, Firefox 146以降 */
    height: stretch;
}

/* イメージ領域 */
.dialog_music_iamge_area {
    width: 150%;
    max-width: 100vh;
}

/* メインイメージ */
.dialog_music_main {
    position: relative;
    width: 100%;
    height: auto;
}

.music_main_img {
    position: relative;
    width: 100%;
    height: auto;
    outline: #303030 3px solid;
    outline-offset: -2px;
    border-radius: 4vw;
    corner-shape: superellipse(2.4);
    overflow: hidden;
}

/* サブイメージ */
.dialog_music_sub_flex {
    display: flex;
    margin: 1% 0 0 0;
}

.dialog_music_sub {
    position: relative;
    width: 22%;
    height: auto;
    outline: #909090 2px solid;
    outline-offset: -1px;
    border-radius: 4vw;
    corner-shape: superellipse(2.4);
    float: left;
    margin: 0 auto 1% auto;
    cursor: pointer;
    overflow: hidden;
}

.dialog_music_sub:hover {
    outline: #cacece 2px solid;
}

.dialog_music_sub.selected {
    outline: #40c8d5 4px solid;
    outline-offset: 0;
}

.dialog_music_sub_img_block {
    margin: 3px;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    border-radius: 4vw;
    corner-shape: superellipse(2.4);
    overflow: hidden;
}

.music_sub_img {
    width: 100%;
    height: 100%;
}

/* 各種リンク */
.dialog_music_link {
    position: relative;
    width: 6%;
    height: 6%;
    float: left;
    margin: 0 1% 1% 0;
    cursor: pointer;
    padding: 1%;
}

/*
.dialog_music_link:hover {
    background-color: #d0d0d0;
}
*/

.dialog_music_link_img_block {
    position: relative;
    top: 50%;
    transform: translate(-0, -50%);
}

.music_link_img {
    width: 100%;
    height: auto;
}

/* 楽曲配信中！ */
.dialog_music_stream {
    padding-top: 16px;
}

.dialog_music_stream > p {
  position: relative;
  margin: 0;
  width: fit-content;
  padding: 3px 14px;
  border-radius: 5px;
  background-color: #303030;
  color: #f0f0f0;
  font-size: 16px;

  &::after {
    content: "";
    position: absolute;
    top: 55%;
    transform: translate(-50%, -50%) rotate(45deg);
    left: 0;
    width: 11px;
    height: 11px;
    box-sizing: border-box;
    background-color: #303030;
  }
}

/* テキスト領域 */
.dialog_music_info_area {
    width: -webkit-fill-available; /* Chrome, Safari, Firefox 146以降 */
    width: stretch;
}

.dialog_music_info_content {
    padding: 0 0 0 2vw;
    width: -webkit-fill-available; /* Chrome, Safari, Firefox 146以降 */
    width: stretch;
}

/* タイトル */
.dialog_music_title_jp > p,
.dialog_music_title_en > p {
    margin: 0;
    font-size: 2.4vw;
    color: #303030;
    font-family: '游ゴシック', "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W6", sans-serif;
    font-weight: 600;
}

/* タイトル英名 */
.dialog_music_title_en > p {
    font-size: 1.6vw;
}

/* クレジット */
.dialog_music_credit_roll>p,
.dialog_music_credit_name>p,
.dialog_music_release_head > p,
.dialog_music_release_date > p {
    margin: 0;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 16px;
    color: #303030;
    font-family: "Noto Sans JP", sans-serif;
}

.dialog_music_credit_roll > p::after,
.dialog_music_release_head > p::after {
    content: "：";
}

.dialog_music_credit_space {
    margin: 0 20px;
}

/* 罫線 */
.dialog_music_line{
    margin: 8px 0 8px 0;
    border: none;
    border-top: 1px solid #303030;
    width: 100%;
}

/* コメント */
.dialog_music_comment_block {
    position: absolute;
    padding: 0 30px 30px 0;
    height: -webkit-fill-available; /* Chrome, Safari, Firefox 146以降 */
    height: stretch;
}

.dialog_music_comment {
    overflow-y: auto;
    height: -webkit-fill-available; /* Chrome, Safari, Firefox 146以降 */
    height: stretch;
}

.dialog_music_comment > p {
    margin: 0;
    font-size: 16px;
    color: #303030;
    font-family: "Noto Sans JP", sans-serif;
}

/*
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

Link

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
*/
.link_content {
    position: absolute;
    margin: 2vw auto auto 20vw;
}

.link_block_flex {
    margin: 10px;
    display: flex;
}

.link_block_pad {
    z-index: 108;
    transition: all 0.3s;
    opacity: 0;
    transform: translate(0, 50px);
    pointer-events: none;
    cursor: pointer;
}

.link_block_pad.loaded {
    opacity: 1;
    transform: translate(0, 0);
    pointer-events: auto;
}

.link_block_pad:hover {
    padding-bottom: 20px;
    margin-top: -20px;
}

.link_block {
    margin: 10px;
    width: 12vw;
    border: #303030 3px solid;
    border-radius: 5vw;
    corner-shape: superellipse(3.3);
    box-shadow: 8px 8px 0px 0 #76c2cf;
    transition: box-shadow 0.3s;
    background-color: #f0f0f0;
}

.link_block_pad:hover>.link_block {
    box-shadow: 8px 24px 8px 0 #76c2cf;
}

.link_block_icon {
    height: 11vw;
    position: relative;
}

.img_wall {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 200;
}

.link_block_icon_img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
    height: auto;
}

.link_block_svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -32%);
    width: 85%;
}

#amazon_logo {
    width: 67%;
}

.link_block_line {
    font-family: system-ui;
    height: 1.5vw;
    background-color: #303030;
    text-align: center;
    color: #f0f0f0;
    font-weight: 600;
    font-size: 1vw;
}

.link_block_line>p {
    margin: 0;
    padding: 1px 0 0 0;
}

.link_block_exp {
    height: 5vw;
    padding: 0.5vw;
}

.link_block_exp>p {
    font-family: system-ui;
    margin: 0;
    color: #303030;
    font-size: 0.8vw;
    font-weight: 600;
}

.dialog_mail {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000a;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
    z-index: 400;
}

.dialog_mail.show {
    opacity: 1;
    pointer-events: all;
}

.dialog_mail_block {
    position: relative;
    margin: 0 auto;
    top: 50%;
    transform: translate(0, -50%);
    background-color: #f0f0f0;
    border: #303030 solid 3px;
    border-radius: 10px;
    width: 390px;
    height: 190px;
}

.gmail_address_block_title {
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: 600;
    color: #303030;
}

.gmail_address_block {
    display: flex;
    width: 290px;
    border-radius: 5px;
    border: solid #303030 2px;
    position: relative;
    top: 30%;
    padding-left: 20px;
    margin: auto;
    overflow: hidden;
}

#gmail_address {
    margin: 0;
    text-align: center;
    font-weight: 600;
}

.btn_gmail_copy {
    background-color: #ccc;
    width: 50px;
    height: 100%;
    right: 0;
    position: absolute;
    border-left: solid #303030 2px;
    cursor: pointer;
}

.btn_gmail_copy:hover {
    background-color: #bdbdbd;
}

.btn_gmail_copy:active {
    background-color: #aaa;
}

.btn_copy_img {
    position: absolute;
    top: 9%;
    height: 86%;
    width: auto;
    left: 27%;
}

.gmail_address_get_copied {
    position: absolute;
    right: 40px;
    top: 56%;
    font-size: 14px;
    font-weight: 600;
    color: #fffaf0;
    background-color: #303030;
    padding: 5px 10px;
    border-radius: 13px;
    opacity: 0;
    transition: opacity 0.3s, top 0.3s;
}

.gmail_address_get_copied.show {
    top: 53%;
    opacity: 1;
}

.gmail_address_get_copied>p {
    margin: 0;
}

.copied_tri {
    top: -15px;
    right: 18px;
    position: absolute;
    margin: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 9px 15.6px 9px;
    border-color: transparent transparent #303030 transparent;
}

.dialog_mail_close {
    position: absolute;
    top: 78%;
    margin: 0 auto;
    left: 50%;
    width: 42%;
    transform: translate(-50%, 0);
    cursor: pointer;
}

/*
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

Work

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
*/

.work_box_wrap {
    position: absolute;
    top: 10%;
    left: 20%;
}

.work_box {
    position: relative;
    width: 26vw;
    padding-bottom: 1vw;
    /*border: #303030 3px solid;*/
    outline: #303030 3px solid;
    outline-offset: -2px;
    box-shadow: 14px 14px 0px 0 #76c2cf;
    border-radius: 0.78125vw;
    background-color: #f0f0f0;
    opacity: 0;
    transform: translate(0, 5vw);
    transition: transform 0.4s, opacity 0.4s;
    overflow: hidden;
}

.work_box.loaded {
    opacity: 1;
    transform: translate(0, 0);
}

.work_box_title {
    width: 100%;
    text-align: center;
    margin: -3px 0 0 0;
    background-color: #303030;
    font-size: 1.4vw;
    color: #f0f0f0;
    font-family: '游ゴシック', "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W6", sans-serif;
    font-weight: 600;
    /*border-radius: 0.6vw 0.6vw 0 0;*/
}

.works {
    padding-top: 8px;
    overflow-y: scroll;
    max-height: 75vh;
}

.works::-webkit-scrollbar {
    border-radius: 0 0 0.56vw 0;
}

.works::-webkit-scrollbar-thumb {}

.works::-webkit-scrollbar-track {}

.works>p {
    color: #303030;
    font-family: '游ゴシック', "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W6", sans-serif;
    font-weight: 600;
    margin: 0 0 0 1vw;
}

.work_box_date {
    font-size: 0.7vw;
}

.work_box_text {
    font-size: 1vw;
    margin: 0 0 0 2vw;
}

.work_box_link {
    font-size: 1vw;
    margin: 0 0 0 2vw;
    color: #00008b;
}

.work_chara {
    position: absolute;
    width: 55vw;
    height: auto;
    top: 2%;
    left: 40vw;
    transform: translate(-30%, 0);
    transition: transform 0.4s, opacity 0.4s;
    opacity: 0;
}

.work_chara>img {
    width: 100%;
}

.work_chara.loaded {
    opacity: 1;
    transform: translate(0, 0);
}

/*
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

Contact

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
*/
.contact_content {
    position: absolute;
    margin: 1vw auto auto 23vw;
}

.contact_block_flex {
    display: flex;
}

.contact_box,
.contact_box_mail {
    border: #303030 3px solid;
    box-shadow: 4px 4px 0px 0 #76c2cf;
    border-radius: 0.78125vw;
    margin: 10px;
    background-color: #f0f0f0;
    opacity: 0;
    transform: translate(0, 5vw);
    transition: transform 0.2s, opacity 0.2s;
    width: 30vw;
}

.contact_box_mail {
    position: absolute;
    margin-top: 7vw;
    margin-left: 25vw;
    width: 21vw;
    box-shadow: 4px 4px 0px 0 #76c2cf;
    transform: translate(5vw, 0);
}

.contact_box.loaded,
.contact_box_mail.loaded {
    opacity: 1;
    transform: translate(0, 0);
}


.contact_box_title {
    display: block;
    width: 100%;
    text-align: center;
    margin: -3px 0 0 0;
    background-color: #303030;
    font-size: 1vw;
    color: #f0f0f0;
    font-family: '游ゴシック', "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W6", sans-serif;
    font-weight: 600;
    border-radius: 0.6vw 0.6vw 0 0;
}

.contact_text_input {}

.contact_text_input>input,
.contact_text_input>textarea {
    background-color: #f0f0f0 !important;
    border: none;
    outline: none;
    font-size: 1vw;
    position: relative;
    width: 96%;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0% 0;
    font-family: '游ゴシック', "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W6", sans-serif;
    font-weight: 600;
    color: #303030;
}

.contact_text_input>textarea {
    height: 24em;
    resize: none;
}

.contact_text_input>input:focus,
.contact_text_input>textarea:focus {
    border: none;
    outline: none;
}

.contact_checkbox {
    margin: 1%;
}

#req::after {
    content: "*";
    color: #ff4343;
    margin-left: 0.5em;
}

/* 送信ボタン */
.input_button {
    cursor: pointer;
    width: 8vw;
    position: absolute;
    font-size: 1vw;
    color: #048b85;
    font-family: '游ゴシック', "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W6", sans-serif;
    font-weight: 600;
    background-color: #f0f0f0;
    border: #303030 3px solid;
    border-radius: 0.6vw;
    box-shadow: 4px 4px 0px 0 #76c2cf;
    right: 10px;
    overflow: hidden;
    opacity: 0;
    transform: translate(0, 5vw);
    transition: transform 0.2s, opacity 0.2s;
}

.input_button.loaded {
    opacity: 1;
    transform: translate(0, 0);
}

.input_button:hover,
.contact_box_mail:hover {
    background-color: #ffffff;
    border: #404040 3px solid;
}

.hidden_iframe {
    display: none;
}

.contact_exp {
    margin: 10px 20px 10px 20px;
}

.contact_exp>p {
    margin: 0;
    color: #303030;
    font-family: '游ゴシック', "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W6", sans-serif;
    font-weight: 600;
    font-size: 0.8vw;
}

.contact_exp_mail {
    cursor: pointer;
    display: flex;
}

.contact_exp_mail>p {
    width: 60%;
    margin: 11px 0px 8px 0;
    color: #303030;
    font-family: '游ゴシック', "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W6", sans-serif;
    font-weight: 600;
    font-size: 0.8vw;
}

.contact_mail_icon {
    position: relative;
    width: 3.5vw;
}

.content_exp_must::before {
    content: "*";
    color: #ff4343;
    margin-right: 0.2em;
    font-size: 1vw;
}

.dialog_contact {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000a;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
    z-index: 400;
}

.dialog_contact.show {
    opacity: 1;
    pointer-events: all;
}

.dialog_contact_block {
    position: relative;
    margin: 0 auto;
    top: 50%;
    transform: translate(0, -50%);
    background-color: #f0f0f0;
    border: #303030 solid 3px;
    border-radius: 10px;
    width: 390px;
    height: 130px;
}

.dialog_contact_close {
    position: absolute;
    top: 70%;
    margin: 0 auto;
    left: 50%;
    width: 42%;
    transform: translate(-50%, 0);
    cursor: pointer;
}